{extends none}

<head>   
    <!-- JavaScript + FIXES for Ajax -->
    <script type="text/javascript" src="{$basePath}/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{$basePath}/js/jquery-ui-1.8.17.custom.min.js"></script>
    <script type="text/javascript" src="{$basePath}/js/jquery.ui.datepicker-cs.js"></script>
    <script type="text/javascript" src="{$basePath}/js/inputfix.datepicker.js"></script>   
</head>


{block content}
    <div class = "addEditAction">
            {form addEditService class => 'well'}
                <table id = "addEdit">
                <td>
                        {label customer /}{input customer_id, id => "cmp_id"}
                        {input customer class => "span2", id => "cmp", autofocus => TRUE}
                </td>     
                <td>
                        <a id = "custSelectorButton" href="javascript:void(0);"
                        title="Výběr zákazníka"
                        onClick='window.open({plink Customers:selector},"Selector","width=850,height=480,status=0,location=no,resizable=no,");' rel="tooltip" class="btn custSelectorButton">
                        <i class="icon-list-alt"></i>
                        </a>
                    </td>                      
                <tr>
                    <td colspan="2">{label datestart /}{input datestart, autofocus => FALSE}</td>       
                </tr> 
                <tr>
                    <td colspan="2">{label textnote /}{input textnote}</td>                   
                </tr>
                    
                <tr>
                     <td colspan="2" class="submitSection"><button id="btn-close" class="btn btn-danger" type="button">Zavřít</button> {label addSave /}{input addSave}</td>
                </tr>
                </table>    
            {/form}
        <div class="cleaner"></div>
    </div>
{/block}