{extends none}

{block content}
    <div id ="userPan">
        <form class="well" action="" method="post">
                <p>Jste přihlášen jako <strong>{$username}</strong></p> 
                <p>Oprávnění: {$myAcl}</p>    
            <input type="submit" id="dialogCloser1" class="btn btn-success" value="Beru na vědomí">
            <div class="cleaner"></div>
         </form>
    </div>
{/block}